body {
	  padding: 2px 20px;
	  position: static;
  }
h1 {
      padding: 10px 25px;  
  }
 img{
	 width: 20%;
	height: auto;
 }
 
footer{
	position: static;
}
ul {
  margin: 0;
  padding: 0;
}
nav ul li{display: inline;}
nav ul li a{
	padding: 10px;
	}

section{
	transform: translate(50%, 0);
	width: 50%;
	padding: 10px ;
	position: static;
}
nav {
	position: static;
}


